.u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 757px;
}

.u-section-1 .u-image-1 {
  width: 257px;
  height: 257px;
  background-image: url("images/1540652202350.jpg");
  background-position: 50% 50%;
  margin: 60px auto 0;
}

.u-section-1 .u-text-1 {
  font-size: 4.5rem;
  font-style: normal;
  margin: 9px 0 0;
}

.u-section-1 .u-text-2 {
  font-size: 2.25rem;
  letter-spacing: normal;
  line-height: 43.2px;
  width: 781px;
  margin: -11px auto 0;
}

.u-section-1 .u-btn-1 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.25rem;
  letter-spacing: 1px;
  background-image: none;
  margin: 60px auto;
  padding: 9px 43px 9px 42px;
}

@media (max-width: 1199px) {
  .u-section-1 {
    min-height: 316px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 53px;
    margin-right: 53px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 782px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 15px;
    margin-right: 15px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
    width: 720px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 49px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    font-size: 3.75rem;
    margin-left: 31px;
    margin-right: 31px;
  }

  .u-section-1 .u-text-2 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 100vh;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
    margin-top: 60px;
    margin-left: -15px;
    margin-right: -15px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 28px;
    width: 340px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 60px;
  }
}.u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 111px;
}

.u-section-2 .u-text-1 {
  font-size: 3.75rem;
  margin: 23px auto;
}

@media (max-width: 575px) {
  .u-section-2 .u-text-1 {
    font-size: 2.25rem;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 1086px;
}

.u-section-3 .u-layout-wrap-1 {
  pointer-events: auto;
  margin: 51px auto 51px 0;
}

.u-section-3 .u-layout-cell-1 {
  pointer-events: auto;
  min-height: 984px;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px 60px 29px;
}

.u-section-3 .u-text-1 {
  margin: 59px 0 0;
}

.u-section-3 .u-icon-1 {
  border-style: none;
  font-size: 2.25rem;
  padding: 0;
}

.u-section-3 .u-text-2 {
  font-size: 1.875rem;
  margin: 14px 0 0;
}

.u-section-3 .u-text-3 {
  background-image: none;
  font-size: 1.5rem;
  margin: 14px 0 0;
}

.u-section-3 .u-text-4 {
  animation-duration: 1000ms;
  font-size: 2.25rem;
  margin: 101px 0 0;
}

.u-section-3 .u-text-5 {
  font-size: 1.875rem;
  margin: 7px 0 0;
}

.u-section-3 .u-text-6 {
  font-size: 1.5rem;
  margin: 20px 0 0;
}

.u-section-3 .u-text-7 {
  margin: 85px 0 0;
}

.u-section-3 .u-btn-1 {
  font-size: 2.25rem;
  padding: 0;
}

.u-section-3 .u-text-8 {
  font-size: 1.875rem;
  margin: 20px 0 0;
}

.u-section-3 .u-text-9 {
  font-size: 1.5rem;
  margin: 14px 0 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 481px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 811px;
  }

  .u-section-3 .u-text-4 {
    height: 120px;
  }

  .u-section-3 .u-text-5 {
    height: 43px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1393px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 1293px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-3 .u-text-1 {
    width: auto;
    margin-top: 169px;
  }

  .u-section-3 .u-text-2 {
    width: auto;
  }

  .u-section-3 .u-text-3 {
    width: auto;
    margin-top: 20px;
  }

  .u-section-3 .u-text-4 {
    width: auto;
    margin-top: 79px;
  }

  .u-section-3 .u-text-5 {
    margin-top: 20px;
  }

  .u-section-3 .u-text-6 {
    margin-top: 9px;
  }

  .u-section-3 .u-text-7 {
    margin-top: 79px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 653px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-text-5 {
    width: auto;
  }

  .u-section-3 .u-text-6 {
    width: auto;
  }

  .u-section-3 .u-text-7 {
    width: auto;
  }

  .u-section-3 .u-text-8 {
    width: auto;
  }

  .u-section-3 .u-text-9 {
    width: auto;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1817px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 1715px;
  }

  .u-section-3 .u-text-1 {
    font-size: 1.875rem;
    margin-top: 0;
  }

  .u-section-3 .u-text-2 {
    font-size: 1.5rem;
    margin-top: 34px;
  }

  .u-section-3 .u-text-3 {
    font-size: 1.25rem;
    margin-top: 34px;
  }

  .u-section-3 .u-text-4 {
    font-size: 1.875rem;
    margin-top: 111px;
  }

  .u-section-3 .u-text-5 {
    font-size: 1.5rem;
  }

  .u-section-3 .u-text-6 {
    font-size: 1.25rem;
    margin-top: 14px;
    width: auto;
  }

  .u-section-3 .u-text-7 {
    margin-top: 132px;
  }

  .u-section-3 .u-btn-1 {
    font-size: 1.875rem;
  }

  .u-section-3 .u-text-8 {
    font-size: 1.5rem;
  }

  .u-section-3 .u-text-9 {
    font-size: 1.25rem;
    margin-bottom: -29px;
  }
}.u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 112px;
}

.u-section-4 .u-text-1 {
  font-size: 3.75rem;
  margin: 23px auto;
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 85px;
  }

  .u-section-4 .u-text-1 {
    font-size: 2.25rem;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 741px;
}

.u-section-5 .u-layout-wrap-1 {
  pointer-events: auto;
  margin: 60px auto 51px 0;
}

.u-section-5 .u-layout-cell-1 {
  pointer-events: auto;
  min-height: 630px;
}

.u-section-5 .u-container-layout-1 {
  padding: 30px 60px 15px;
}

.u-section-5 .u-text-1 {
  font-size: 2.25rem;
  margin: 25px 0 0;
}

.u-section-5 .u-text-2 {
  font-size: 1.875rem;
  margin: 7px 0 0;
}

.u-section-5 .u-text-3 {
  background-image: none;
  font-size: 1.5rem;
  margin: 11px 0 0;
}

.u-section-5 .u-text-4 {
  font-size: 2.25rem;
  margin: 80px 0 0;
}

.u-section-5 .u-text-5 {
  font-size: 1.875rem;
  margin: 7px 0 0;
}

.u-section-5 .u-text-6 {
  background-image: none;
  font-size: 1.5rem;
  margin: 10px 0 0;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 481px;
  }

  .u-section-5 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 519px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 367px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 653px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1014px;
  }

  .u-section-5 .u-layout-wrap-1 {
    margin-bottom: 50px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 904px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-bottom: 9px;
  }

  .u-section-5 .u-text-2 {
    font-size: 1.25rem;
    margin-top: 25px;
  }

  .u-section-5 .u-text-3 {
    font-size: 1.25rem;
    margin-top: 32px;
  }

  .u-section-5 .u-text-4 {
    margin-top: 41px;
  }

  .u-section-5 .u-text-5 {
    font-size: 1.25rem;
  }

  .u-section-5 .u-text-6 {
    font-size: 1.25rem;
  }
}.u-section-6 {
  background-image: none;
}

.u-section-6 .u-sheet-1 {
  min-height: 112px;
}

.u-section-6 .u-text-1 {
  font-size: 3.75rem;
  margin: 23px auto;
}

@media (max-width: 575px) {
  .u-section-6 .u-text-1 {
    font-size: 2.25rem;
  }
}.u-section-7 .u-sheet-1 {
  min-height: 979px;
}

.u-section-7 .u-layout-wrap-1 {
  pointer-events: auto;
  margin: 60px auto 30px 0;
}

.u-section-7 .u-layout-cell-1 {
  pointer-events: auto;
  min-height: 889px;
}

.u-section-7 .u-container-layout-1 {
  padding: 30px 60px 28px;
}

.u-section-7 .u-text-1 {
  font-size: 2.25rem;
  margin: 0;
}

.u-section-7 .u-text-2 {
  font-size: 1.875rem;
  margin: 14px 0 0;
}

.u-section-7 .u-text-3 {
  background-image: none;
  font-size: 1.5rem;
  margin: 14px 0 0;
}

.u-section-7 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: none;
  margin: -31px auto 0;
}

.u-section-7 .u-text-4 {
  font-size: 2.25rem;
  margin: 108px 0 0;
}

.u-section-7 .u-text-5 {
  font-size: 1.875rem;
  margin: 12px 0 0;
}

.u-section-7 .u-text-6 {
  background-image: none;
  font-size: 1.5rem;
  margin: 12px 0 0;
}

.u-section-7 .u-btn-2 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: none;
  margin: 19px auto 0;
}

@media (max-width: 1199px) {
  .u-section-7 .u-sheet-1 {
    min-height: 1106px;
  }

  .u-section-7 .u-layout-wrap-1 {
    margin-bottom: 40px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-7 .u-btn-1 {
    margin-top: -14px;
  }

  .u-section-7 .u-text-4 {
    margin-top: 91px;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-7 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-sheet-1 {
    min-height: 1227px;
  }

  .u-section-7 .u-layout-wrap-1 {
    margin-bottom: 30px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 1137px;
  }

  .u-section-7 .u-text-2 {
    font-size: 1.25rem;
  }

  .u-section-7 .u-text-3 {
    font-size: 1.25rem;
  }

  .u-section-7 .u-btn-1 {
    margin-top: -5px;
  }

  .u-section-7 .u-text-4 {
    margin-top: 82px;
  }

  .u-section-7 .u-text-5 {
    font-size: 1.25rem;
  }

  .u-section-7 .u-text-6 {
    font-size: 1.25rem;
  }

  .u-section-7 .u-btn-2 {
    margin-top: 14px;
  }
}.u-section-8 .u-sheet-1 {
  min-height: 937px;
}

.u-section-8 .u-layout-wrap-1 {
  pointer-events: auto;
  margin: 61px auto 52px 0;
}

.u-section-8 .u-layout-cell-1 {
  pointer-events: auto;
  min-height: 824px;
}

.u-section-8 .u-container-layout-1 {
  padding: 30px 60px 32px;
}

.u-section-8 .u-text-1 {
  font-size: 2.25rem;
  margin: 0;
}

.u-section-8 .u-text-2 {
  font-size: 1.875rem;
  margin: 14px 0 0;
}

.u-section-8 .u-text-3 {
  background-image: none;
  font-size: 1.5rem;
  margin: 14px 0 0;
}

.u-section-8 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: none;
  margin: -45px auto 0;
}

.u-section-8 .u-text-4 {
  font-size: 2.25rem;
  margin: 136px 7px 0 -7px;
}

.u-section-8 .u-text-5 {
  font-size: 1.875rem;
  margin: 0;
}

.u-section-8 .u-text-6 {
  background-image: none;
  font-size: 1.5rem;
  margin: 26px 0 0;
}

.u-section-8 .u-btn-2 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: none;
  margin: 14px auto 0;
}

@media (max-width: 1199px) {
  .u-section-8 .u-sheet-1 {
    min-height: 1106px;
  }

  .u-section-8 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-8 .u-layout-cell-1 {
    min-height: 679px;
  }

  .u-section-8 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-8 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-8 .u-container-layout-1 {
    padding-bottom: 30px;
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-8 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-8 .u-sheet-1 {
    min-height: 1169px;
  }

  .u-section-8 .u-layout-wrap-1 {
    margin-top: 60px;
    margin-bottom: 58px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-8 .u-layout-cell-1 {
    min-height: 1047px;
  }

  .u-section-8 .u-container-layout-1 {
    padding-bottom: 23px;
  }

  .u-section-8 .u-text-2 {
    font-size: 1.25rem;
  }

  .u-section-8 .u-text-3 {
    font-size: 1.25rem;
  }

  .u-section-8 .u-text-5 {
    font-size: 1.25rem;
  }

  .u-section-8 .u-text-6 {
    font-size: 1.25rem;
    margin-top: 14px;
  }
}